build
!.vscode/*i

*.DS_store

gesture_recog/models
gesture_recog/dataset_magic_wand
gesture_recog/dataset_pico_gestures
gesture_recog/benchmark_models
gesture_recog/dataset_magic_wand_gan
gesture_recog/dupe_data
gesture_recog/logs
gesture_recog/__pycache__
gesture_recog/.ipynb_checkpoints
gesture_recgo/util/__pycache__
# gesture_recog/chosen_modelsld/

# C Build artifacts and folders 
build-*/
bin/
obj/
*.o
*.a
*.so
*.dll
*.exe 


.ipynb_checkpoints


